@font-face {
    font-family: Lemon;
    src: url(../fonts/LemonMilklight.otf);
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Regular.ttf);
}

body {
    background-color: #E9E9E9;
    font-family: Roboto;
}

.collapse {
    transition: 0.6s linear;
}

.content-main {
    width: 100%;
}
.clear {
    clear: both;
}
.wrapper {
    width: 100%;
    min-height: 600px;
    float: left;
    position: relative;
}
/*----------- BUTTONS -----------*/
.but-lg {
    font-size: 18px;
}
.but-md {
    font-size: 16px;
}
.but-sm {
    font-size: 12px;
}

.but-default {
     -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-color: #ADADAD;
    
    border-radius: 0;
    background-color: #fdfdfd;
    color: #505050;
}
.but-default:hover {
    background-color: #E6E6E6;
    color:#505050;
}
.but-default:focus {
    color:#505050;
}

.but-primary {
     -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 0;
    background-color: #337ab7;
    color: #fff;
}
.but-primary:hover {
    background-color: #255b89;
    color:#fff;
}
.but-primary:focus {
    color:#fff;
}

.but-danger {
     -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 0;
    background-color: #d9534f;;
    color: #fff;
}
.but-danger:hover {
    background-color: #C9302C;
    color:#fff;
}
.but-danger:focus {
    color:#fff;
}

.but-success {
     -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 0;
    background-color: #5cb85c;;
    color: #fff;
}
.but-success:hover {
    background-color: #449D44;
    color:#fff;
}
.but-success:focus {
    color:#fff;
}

.but-info {
     -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 0;
    background-color: #5bc0de;;
    color: #fff;
}
.but-info:hover {
    background-color: #31B0D5;
    color:#fff;
}
.but-info:focus {
    color:#fff;
}

.but-warning {
     -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 0;
    background-color: #f0ad4e;;
    color: #fff;
}
.but-warning:hover {
    background-color: #EC971F;
    color:#fff;
}
.but-warning:focus {
    color:#fff;
}


/*----------- CUSTOM DATA TABLE ---------*/

.dataTable {
    
}
.dataTables_length {
    
}
.dataTables_filter {
    text-align: right;
}
.dataTables_info {
    
}
.dataTables_paginate {
    text-align: right;
}


.no-padding {
    padding: 0 !important;
}
.no-margin {
    margin: 0 !important;
}

.top-bar {
    background-color: #F44336;
    line-height: 50px;
    font-size: 20px;
    color: #fff;
    font-family: Lemon;
    padding: 0px 50px;
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
.but-top-nav {
    width:50px;
    height: 50px;
    border-radius: 0 !important;
    background-color: transparent;
    font-size: 25px;
    float: right;
    color: #fff;
}
.but-top-nav:hover {
    color: #fff;
    background-color: darkred;
}
.but-top-nav:focus {
    color: #fff;
}
.drop-menu-style {
    float: right;
    left: auto;
    right: 50px;
}
.drop-menu-style li a{
    font-family: roboto;
    font-size: 16px;
    padding:10px;
    height:40px;
}

.drop-nav {
    float: right;
}

.but-navi {
    background-color: crimson;
    width: 40px;   
    display: none;
    margin-top: 8px;
    margin-right: 10px;
    color: #fff;
}
.but-navi:hover {
    background-color:darkred;
    color: #fff;
}
.but-navi:focus {
    color: #fff;
}
@media screen and (max-width: 1024px) {
    .top-bar-hover {
        width:100%;
        position: fixed;
        z-index: 11;
    }
    .but-navi {
        color: #fff;
        display: block;
        float: left;
    }
}


/*---------SIDE BAR---------------*/

.side-bar {
    height: 100%;
    width: 250px;
    background-color: #FDFDFD;
    font-family: Roboto;
    color: #fff;
    min-height: 100vh;
    padding: 0 !important;
    -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    float: left;
    margin: 0px;
    display: block;
    position: absolute;
    z-index: 100;
    transition: 0.1s linear;
}

@media screen and (max-width: 1024px) {
    .side-bar {
        margin-top:30px;
        transition: 0.1s linear;
        display: none;
        position: fixed;
        z-index: 10;
        float: left;
    }
}


.top-side-bar {
    font-size: 16px;
    background-color: #F06D03;
    padding: 30px;
    margin-bottom: 20px;
}

.top-side-bar-name {
    font-size: 16px;
    margin-bottom: 0px;
}

.top-side-bar-photo {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #fff;
    margin-bottom: 20px;
}

.top-side-bar-email {
    font-size: 12px;
}

.content-top-side-bar {
    font-size: 18px;
    width: 100%;
    padding: 10px 30px !important;
    color: #3a3a3a;
    cursor: pointer;
    transition: 0.1s linear;
}
.content-side-bar {
    font-size: 14px;
    width: 100%;
    padding: 10px 30px !important;
    color: #3a3a3a;
    cursor: pointer;
    transition: 0.1s linear;
}

.content-side-bar:hover {
    transition: 0.1s linear;
    padding-left: 40px !important;
    color: #656565;
}

.content-side-bar-collapse {
    font-size: 14px;
    width: 100%;
    padding: 10px 30px !important;
    color: #3a3a3a;
    cursor: pointer;
    text-decoration: none;
}

.content-side-bar-collapse:hover {
    transition: 0.1s linear;
    padding-left: 40px !important;
    color: #656565;
}
.content-collapse {
    min-height: 0px;
}

.icon-menus {
    margin-right: 10px;
}
.icon-menus-right {
    float: right;
    margin-right: 10px;
}
.side-bar-link {
    text-decoration: none;
    color: 3a3a3a;
}

/*-------MAIN CONTENT--------*/

.main-content {
    width: calc(100% - 250px);
    margin-left: 250px;
    float: left;
    padding: 40px 20px;
    padding-bottom: 0px;

}

@media screen and (max-width: 1024px) {
    .main-content {
        width: 100%;
        margin-left: 0;
        margin-top: 30px;
    }
}

.main-heading-content {
    min-height: 60px;
    margin-bottom: 30px;
    background-color: #fff;
    padding: 20px;
    font-size: 14px;
    -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
}
.icon-heading {
    
}

.main-body-content {
    min-height: 60px;
    margin: 0px 0px;
    margin-bottom: 20px;
    background-color: #fff;
    padding: 20px;
    font-size: 16px;
    -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
}
.icon-content{
    margin-right: 20px;
}

.content-top-1 {
    color: #337ab7;
}
.content-top-2 {
    color: #D95459;
}
.content-top-3 {
    color: #1ABC9C;
}

.content-top-head {
    font-size: 24px;
    padding: 0px 20px;
}
.content-top-body {
    font-family: Lemon;
    font-size: 30px;
    padding: 0px 70px;
}

.main-footer-content {
    min-height: 60px;
    margin-bottom: 30px;
    background-color: #fff;
    padding: 20px;
    font-size: 14px;
    text-align: center;
    -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
}



